<!DOCTYPE html>
<html>
<head>
  <title>Ecommerce</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!-- HEADER -->
<header>
  <h2>Brand</h2>

  <input type="text" placeholder="Search..." class="search">

  <div>
    <span>Profile</span>
    <span>Cart</span>
  </div>
</header>

<hr>

<!-- NAVBAR -->
<nav>
  <a href="#">All category</a>
  <a href="#">Hot offers</a>
  <a href="#">Gift boxes</a>
  <a href="#">Projects</a>
  <a href="#">Menu item</a>
</nav>

<hr>

<!-- HERO SECTION -->
<div class="container">

  <div class="sidebar">
    <p>Automobiles</p>
    <p>Clothes and wear</p>
    <p>Home interiors</p>
    <p>Computer and tech</p>
    <p>Tools</p>
  </div>

  <div class="hero">
    <h3>Latest trending</h3>
    <h1>Electronic items</h1>
    <button>Learn more</button>
  </div>

  <div class="right-box">
    <p>Hi, user</p>
    <button>Join now</button>
    <button>Log in</button>
  </div>

</div>

<!-- PRODUCTS SECTION -->
<section class="products-section">

  <h2>Deals and offers</h2>

  <div class="products-grid">

    <div class="product-card">
      <img src="/images/watch.jfif">
      <p>Smart Watch</p>
      <strong>$25</strong>
    </div>

    <div class="product-card">
      <img src="/images/iphone.jfif">
      <p>iPhone</p>
      <strong>$999</strong>
    </div>

    <div class="product-card">
      <img src="/images/hp.jfif">
      <p>Headphones</p>
      <strong>$120</strong>
    </div>

    <div class="product-card">
      <img src="/images/laptop.jfif">
      <p>Laptop</p>
      <strong>$700</strong>
    </div>

    <div class="product-card">
      <img src="/images/kettle.jfif">
      <p>Kettle</p>
      <strong>$40</strong>
    </div>

  </div>

</section>

</body>
</html>